@{
    Layout = "_Layout";
}
<body>
<section class="main-content-wrapper">
    
    <div id="main">
                    
                        <section class="section">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Admin Panel</h4>
                                </div>
                                <div class="card-body">
                                    Use this panel to setup your moudules. 
                                </div>
                            </div>
                        </section>
                    

                        <footer>
                            <div class="footer clearfix mb-0 text-muted">
                        
                                    <div class="float-end">
                                        <p>2021 &copy; ATSC Core Network</p>
                                    </div>
                            </div>
                        </footer>
    </div>

    
</section>
</body>