@model CreateEditLocationViewModel

@{
    Layout = "_Layout";
}

@section Styles
{
    <environment names="Development">
        <link rel="stylesheet" href="~/css/admin/admin.css" />
        <link rel="stylesheet" href="~/lib/lobibox/css/lobibox.css" />
        <link rel="stylesheet" href="~/lib/dropzone/css/dropzone.css" />
        <link rel="stylesheet" href="~/lib/dropzone/css/basic.css" />
        <link rel="stylesheet" href="/lib/select2/select2.css" />
        <link rel="stylesheet" href="~/lib/icheck/css/flat/_all.css" />
    </environment>

    <environment names="Production">
         <link rel="stylesheet" href="~/css/admin/admin.css" />
        <link rel="stylesheet" href="~/lib/lobibox/css/lobibox.css" />
        <link rel="stylesheet" href="~/lib/dropzone/css/dropzone.css" />
        <link rel="stylesheet" href="~/lib/dropzone/css/basic.css" />
        <link rel="stylesheet" href="/lib/select2/select2.css" />
        <link rel="stylesheet" href="~/lib/icheck/css/flat/_all.css" />
    </environment>
}
<section class="main-content-wrapper">
    <form asp-action="Edit" method="post" asp-antiforgery="true" enctype="multipart/form-data" style="padding: 0" novalidate>
        <input asp-for="locationId" type="hidden" />
        @await Html.PartialAsync("_CreateEditLocationPartial", Model)
    </form>
</section>

<div id="delete-location-confirm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-delete-header" style="text-align: center;">
                <button id="closeLocationConfirmButton" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-forgot-header-text">CONFIRMATION</h4>
            </div>
            <div class="modal-body" id="formForgot1" style="background-color: #ffffff">
                <div class="row without-margin">
                    <div class="col-md-2">
                        <i class="fa fa-question-circle" style="font-size: 70px; color: #1a1a1a"></i>
                    </div>
                    <div class="col-md-10" style="padding-top: 10px">
                        <span class="modal-forgot-body-text">Sure to delete this location?</span>
                    </div>
                </div>
                <div class="row without-margin" style="margin-bottom: 5px; margin-top: 23px">
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <input type="button" class="btn btn-default buttonsForms" value="Yes" onclick="deleteLocationConfirm()" style="width: 100%" />
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="btn btn-default buttonsForms" value="No" data-dismiss="modal" style="width: 100%" />
                    </div>
                    <div class="col-md-4"></div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <environment names="Development">
        <script type="text/javascript" src="~/js/admin/util.js"></script>
        <script type="text/javascript" src="~/lib/icheck/js/icheck.min.js"></script>
        <script type="text/javascript" src="~/lib/dropzone/js/dropzone.min.js"></script>
        <script type="text/javascript" src="/lib/select2/select2.min.js"></script>
        @*<script type="text/javascript" src="~/js/admin/adminRestaurants.js"></script>*@
        <script asp-src-include="~/lib/jquery-validation/dist/jquery.*.min.js"></script>
        <script asp-src-include="~/lib/jquery-validation-unobtrusive/*.min.js"></script>
    </environment>

    <environment names="Production">
        <script type="text/javascript" src="~/js/admin/util.js"></script>
        <script type="text/javascript" src="~/lib/icheck/js/icheck.min.js"></script>
        <script type="text/javascript" src="~/lib/dropzone/js/dropzone.min.js"></script>
        <script type="text/javascript" src="/lib/select2/select2.min.js"></script>
        @*<script type="text/javascript" src="~/js/admin/adminRestaurants.js"></script>*@
        <script asp-src-include="~/lib/jquery-validation/dist/jquery.*.min.js"></script>
        <script asp-src-include="~/lib/jquery-validation-unobtrusive/*.min.js"></script>
    </environment>

    <script type="text/javascript">$(document).ready(function() {
            initializeSelect2();
            intializeMultiSelect2();
            InitializeScroll('location-panel', "save", "saveContinue", null);
        });</script>
}