@model AddBcNodeContentViewModel
<div class="panel-body">

    
    <div class="row without-margin" style="margin-top: 30px">
        <div class="col-md-4">
            

           <input id="BcNodeId" type="hidden" asp-for="BcNodeId" />
            <div class="row without-margin">
                                    <div class="col-md-12">
                                        <div class="row without-margin">
                                            <label name="SelectedContentId" asp-for="SelectedContentId"></label>
                                        </div>
                                        <div class="row without-margin">
                                            <select name="SelectedContentId" asp-for="SelectedContentId" asp-items="@(new SelectList(Model.Contents,"Id", "Name"))" style="width: 100%" id="contentSelect">
                                            </select>
                                        </div>
                                    </div>
            </div>

            <div class="form-group">
                <label name="Bitrate" asp-for="Bitrate"></label>
                <input name="Bitrate" class="form-control" asp-for="Bitrate" />
            </div>
            <div class="form-group">
                <label name="Size" asp-for="Size"></label>
                <input name="Size" class="form-control" asp-for="Size" />
            </div>


        </div>



    </div>

</div>

