@model CreateEditBcNodeViewModel

    <div id="main">
            <div class="pageheader" id="contents-panel">
                <div class="row">
                    
                    <div class="col-md-6">
                        <h1>
                            <i></i> Contents
                        </h1>
                        <br />

                        @{

                            for (int i = 0; i < 3; i++)
                            {

                                if (i == 0)
                                {
                                    <input type="radio" name="modes" value="mode:@i" id="mode:@i" />
                                    <label for="mode:@i">Mode:@i </label>
                                    <label for="mode:@i"> From Tx1</label>
                                }
                                if (i == 1 && Model.SelectedBcNodeId != Guid.Empty)
                                {
                                    <input type="radio" name="modes" value="mode:@i" id="mode:@i" />
                                    <label for="mode:@i">Mode:@i </label>
                                    <label for="mode:@i"> Self Content</label>

                                }
                                if (i == 2)
                                {
                                    <input type="radio" name="modes" value="mode:@i" id="mode:@i" />
                                    <label for="mode:@i">Mode:@i </label>
                                    <label for="mode:@i"> Alarm</label>
                                }
                                <br />


                            }
                            <div class="btn btn-header btn-success" onclick="confirmSendConfig()">
                                Send Config
                            </div>
                            <input id="bcNodeIdId" name="bcNodeIdId" type="hidden" value=@Model.BcNodeId />


                        }

                    </div>
                    <div class="col-md-6">
                        @if (User.HasRoleAdmin()|| User.HasRoleBcNode())
                        {
                            <div id="butRemoveBcNodeContents" class="btn btn-header btn-remove" onclick="confirmAndDeleteRedirect('deleteSelectionBcNodeContent', 'selected contents')">
                                Delete selection
                            </div>
                             @*<div id="butRemoveBcNodeContents" class="btn btn-header btn-success" onclick="AddbcNodeContent()">
                                Add Content
                            </div>*@
                            <div class="btn btn-header btn-success">
                                <a href="/Admin/Bcnode/AddBcNodeContent?bcNodeId=@Model.BcNodeId">Add Content</a>
                            </div>
                            
                            @*<button type="submit" class="btn btn-header btn-remove" style="float: right"
                                    onclick="confirmAndDeleteRedirect('deleteSelectionBcNodeContent', 'selected contents')">
                                Delete selection
                            </button>*@
                        
                        
                            @*<form asp-action="AddBcNodeContent" method="get">
                                <button type="submit" class="btn btn-success btn-header" style="float: right">
                                     Add Content
                                </button>
                            </form>*@
                        }
                    </div>
                </div>
            </div>

            
            <div class="col-md-12 padding-none">
                <table id="contents-table" class="table table-striped table-bordered nowrap" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="big-table-header">
                                <div class="radio">
                                    <input type="checkbox" id="all" class="icheckbox">
                                </div>
                            </th>

                            <th class="big-table-header">SERVICE</th>
                            <th class="big-table-header">SOURCE</th>
                            <th class="big-table-header">BITRATE</th>
                            <th class="big-table-header">SIZE(MB)</th>
                            <th class="big-table-header">EDIT</th>
                            

                        </tr>
                    </thead>
                    <tbody id="tablebody"></tbody>
                </table>
            </div>

            
    </div>
    
    
    
    

