@model CreateEditBcNodeViewModel
<div id="main">
    <div id="location-panel" class="pageheader">
        <div class="row">
            <div class="col-md-6">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="col-md-6">

                <button id="saveContinue" type="submit" class="btn btn-success btn-header" name="save-continue" value="save-continue" style="cursor: pointer">
                    <i></i> SAVE AND CONTINUE
                </button>
                <button id="save" type="submit" class="btn btn-success btn-header" name="save" style="cursor: pointer">
                    <i></i> SAVE
                </button>
            </div>
        </div>
    </div>

    <section id="main-content" style="padding:0rem">
 

        <div class="row without-margin">
            <input id="optionTab" asp-for="OptionTab" type="hidden" />

            <div class="col-md-12 without-padding">
                <div class="tab-wrapper tab-left ">
                    <ul class="nav nav-tabs">
                        <li class="active"><a id="home" href="#home3" data-toggle="tab" onclick="setTabOrder(1)">Basic Info</a></li>
                        <li><a id="tab2" href="#profile3" data-toggle="tab" onclick="setTabOrder(2)">Contents</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="home3" style="width: 100%;">
                            @await Html.PartialAsync("_bcNodeBasicInfo", Model)
                        </div>
                        <div class="tab-pane" id="profile3" style="width: 100%">
                            @if (Model.BcNodeId != null && Model.BcNodeId != string.Empty)
                            {
                                @await Html.PartialAsync("_bcNodeContentIndex", Model)
                            }
                            else
                            {
                                <div class="paddding-editRestaurants">
                                    <div class="row without-margin" style="margin-bottom: 20px; text-align: center;">
                                        <h4 style="color: red">
                                            Save the basic info to continue inserting data
                                        </h4>
                                    </div>
                                    <div class="row without-margin" style="text-align: center">
                                        <button type="submit" class="btn btn-success btn-header" style="float: none; margin-top: unset" name="save-continue" value="save-continue">
                                            <i></i> SAVE AND CONTINUE
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>

                </div>
            </div>
        </div>


            
       
        









    </section>

</div>