@model BcNodeContentViewModel
<div id="main">
    <div id="location-panel" class="pageheader">
        <div class="row">
            <div class="col-md-6">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="col-md-6">

                <button id="save" type="submit" class="btn btn-success btn-header" name="save" style="cursor: pointer">
                    <i></i> SAVE
                </button>
            </div>
        </div>
    </div>

    <section id="main-content" style="padding:0rem">
 

        <div class="row without-margin">
            <input id="optionTab" asp-for="OptionTab" type="hidden" />

            <div class="col-md-12 without-padding">
                @await Html.PartialAsync("_bcNodeContentBasicInfo", Model)
            </div>
        </div>

    </section>

</div>
