@{ Layout = "_Layout"; }
@section Styles
{
    <environment names="Development">
        
        <link rel="stylesheet" href="~/css/admin/admin.css" />
        <link rel="stylesheet" href="~/lib/dataTables-1.10.18/css/dataTables.bootstrap.css" />
        <link rel="stylesheet" href="~/lib/responsive/css/responsive.bootstrap.css" />
        <link rel="stylesheet" href="~/lib/lobibox/css/lobibox.css" />
        <link rel="stylesheet" href="~/lib/icheck/css/flat/_all.css" />
        <link rel="stylesheet" href="~/lib/select2/select2.css" />
    </environment>
    <environment names="Production">
        <link rel="stylesheet" href="~/css/admin/admin.css" />
        <link rel="stylesheet" href="~/lib/dataTables-1.10.18/css/dataTables.bootstrap.css" />
        <link rel="stylesheet" href="~/lib/responsive/css/responsive.bootstrap.css" />
        <link rel="stylesheet" href="~/lib/lobibox/css/lobibox.css" />
        <link rel="stylesheet" href="~/lib/icheck/css/flat/_all.css" />
        <link rel="stylesheet" href="~/lib/select2/select2.css" />
    </environment>
}
<body>
<section class="main-content-wrapper">

    <div id="main">
            <div class="pageheader" id="bcnode-panel">
                <div class="row">
                    
                    <div class="col-md-6">
                        <h1>
                            <i></i> bcNodes
                        </h1>
                    </div>
                    <div class="col-md-6">
                        @if (User.HasRoleAdmin()|| User.HasRoleBcNode())
                        {
                            <button type="submit" class="btn btn-header btn-remove" style="float: right"
                                    onclick="confirmAndDeleteRedirect('deleteSelection', 'selected bcNodes')">
                                Delete selection
                            </button>
                        
                        
                            <form asp-action="Add" method="get">
                                <button type="submit" class="btn btn-success btn-header" style="float: right">
                                     Add
                                </button>
                            </form>
                        }
                    </div>
                </div>
            </div>

            <section id="main-content">
            <div class="col-md-12 padding-none">
                <table id="bcNode-table" class="table table-striped table-bordered nowrap" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="big-table-header">
                                <div class="radio">
                                    <input type="checkbox" id="all" class="icheckbox">
                                </div>
                            </th>
                        
                            <th class="big-table-header">NAME</th>
                            <th class="big-table-header">DESCRIPTION</th>
                        
                        </tr>
                    </thead>
                    <tbody id="tablebody"></tbody>
                </table>
            </div>
            </section>
    </div>
    

</section>
</body>
@section Scripts
{
    @{ var succRemovebcNode = TempData["RemovebcNodeSuccess"] ?? false;
                        var succEditbcNode = TempData["SuccbcNodeUpdated"] ?? false;
                        var succAddbcNode = TempData["SuccbcNodeCreated"] ?? false; }
    <environment names="Development">
    
        <script type="text/javascript" src="~/js/admin/util.js"></script>
        @*<script type="text/javascript" src="~/DataTables/DataTables-1.11.5/js/jquery.dataTables.js"></script>
            <script type="text/javascript" src="~/DataTables/DataTables-1.11.5/js/dataTables.bootstrap5.js"></script>
            <script type="text/javascript" src="~/DataTables/Responsive-2.2.9/js/dataTables.responsive.js"></script>
            <script type="text/javascript" src="~/DataTables/Responsive-2.2.9/js/responsive.bootstrap5.js"></script>*@
        <script type="text/javascript" src="~/lib/dataTables-1.10.18/js/jquery.datatables.js"></script>
        <script type="text/javascript" src="~/lib/dataTables-1.10.18/js/dataTables.bootstrap.js"></script>
        <script type="text/javascript" src="~/lib/responsive/js/dataTables.responsive.js"></script>
        <script type="text/javascript" src="~/lib/responsive/js/responsive.bootstrap.js"></script>
        <script type="text/javascript" src="~/lib/filteOnReturn/fnFilterOnReturn.js"></script>

        <script type="text/javascript" src="~/lib/select2/select2.js"></script>
        <script type="text/javascript" src="~/lib/lobibox/js/lobibox.js"></script>
        <script type="text/javascript" src="~/lib/icheck/js/icheck.min.js"></script>
        <script type="text/javascript" src="~/js/admin/bcnode.js"></script>
    
    </environment>
    <environment names="Production">
        <script type="text/javascript" src="~/js/admin/util.js"></script>
    
        <script type="text/javascript" src="~/lib/dataTables-1.10.18/js/jquery.datatables.js"></script>
        <script type="text/javascript" src="~/lib/dataTables-1.10.18/js/dataTables.bootstrap.js"></script>
        <script type="text/javascript" src="~/lib/responsive/js/dataTables.responsive.js"></script>
        <script type="text/javascript" src="~/lib/responsive/js/responsive.bootstrap.js"></script>
        <script type="text/javascript" src="~/lib/filteOnReturn/fnFilterOnReturn.js"></script>

        <script type="text/javascript" src="~/lib/select2/select2.js"></script>
        <script type="text/javascript" src="~/lib/lobibox/js/lobibox.js"></script>
        <script type="text/javascript" src="~/lib/icheck/js/icheck.min.js"></script>
        <script type="text/javascript" src="~/js/admin/bcnode.js"></script>
    </environment>

    <script type="text/javascript">
        initializeSelect2();
        initializeScroll('bcnode-panel');
        initDataTable();
        LoadNotifications('@succRemovebcNode', '@succEditbcNode', '@succAddbcNode');
    </script>
}