@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Demo for ATSC 3.0 Core Network</h3>
    <p>To communicate with this demo, Broadcast Network Operators must be registered in this system</p>
</div>
